
@font-face {
    font-family: 'Open Sans X';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans X Regular'),
         local('OpenSansX-Regular'),
         url('../fonts/OpenSansX-Regular.woff2') format('woff2'),
         url('../fonts/OpenSansX-Regular.woff') format('woff');
}

