@use 'grid'
@use 'base'

// Path is relative to the folder of output-html.css
@font-face
  font-family: 'Nunito Sans X'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Nunito Sans X Regular'), local('NunitoSansX-Regular'), url('../fonts/NunitoSansX-Regular.woff2') format('woff2'), url('../fonts/NunitoSansX-Regular.woff') format('woff')

@font-face
  font-family: 'Open Sans X'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: local('Open Sans X Regular'), local('OpenSansX-Regular'), url('../fonts/OpenSansX-Regular.woff2') format('woff2'), url('../fonts/OpenSansX-Regular.woff') format('woff')

body
  font-size: 1.6rem
  line-height: 1.7

.content h1 .header:link
  color: hsl(0, 0%, 30.0%)

// The default sticky position covers the heading when opening #id anchors, such
// as from the List of First Lines.
#menu-bar
  position: inherit

