@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700&display=swap&subset=latin-ext");
@font-face {
  font-family: 'Open Sans X';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Open Sans X Regular"), local("OpenSansX-Regular"), url("../fonts/OpenSansX-Regular.woff2") format("woff2"), url("../fonts/OpenSansX-Regular.woff") format("woff"); }

h1 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1pt;
  word-spacing: 2pt; }

blockquote {
  background: none;
  border: none; }

.english > blockquote p {
  font-style: italic; }

.instr > blockquote p {
  font-weight: bold; }

body {
  font-family: 'Open Sans X', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Nunito Sans', sans-serif; }

.content h1 .header:link {
  color: #4d4d4d; }

#menu-bar {
  position: inherit; }
