@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("NunitoSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("NunitoSans-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("NunitoSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Open Sans X';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("OpenSansX-Regular.ttf") format("truetype"); }

.grid {
  margin: 0 0 20px 0;
  /* Opt-in outside padding */ }
  .grid:after {
    content: "";
    display: table;
    clear: both; }
  .grid *, .grid *:after, .grid *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .grid [class*='col-'] {
    float: left;
    padding-right: 20px; }
    .grid .grid [class*='col-']:last-of-type {
      padding-right: 0; }
  .grid .col-2-3 {
    width: 66.66%; }
  .grid .col-1-3 {
    width: 33.33%; }
  .grid .col-1-2 {
    width: 50%; }
  .grid .col-1-4 {
    width: 25%; }
  .grid .col-1-8 {
    width: 12.5%; }
  .grid .grid-pad {
    padding: 20px 0 20px 20px; }
    .grid .grid-pad [class*='col-']:last-of-type {
      padding-right: 20px; }

body {
  font-family: 'Open Sans X', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Nunito Sans', sans-serif; }

h1 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1pt;
  word-spacing: 2pt; }

blockquote {
  background: none;
  border: none; }

.english > blockquote p {
  font-style: italic; }

.instr > blockquote p {
  font-weight: bold; }

.titlepage-cover img {
  width: 300px; }

.download-item {
  margin-top: 1em; }
  .download-item .item-description h3 {
    margin-top: 0.5em; }
  .download-item .item-cover img {
    width: 170px; }
